{
  "extends": ["prettier"],
  "rules": {
    "no-underscore-dangle": "off",
    "prettier/prettier": ["error"],
    "no-unused-vars": ["error", { "argsIgnorePattern": "next" }]
  },
  "plugins": ["prettier"],
  "parserOptions": {
    "ecmaVersion": 2017
  },
  "env": {
    "es6": true
  }
}
